*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    
}

.logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: 50px;
   
}

li{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left:  10px;
    margin-right: 10px;
}

a{
    color: black;
    text-decoration: none;
}

header
{
    background-color: white;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: right;
    align-items: center;

}

.messagebtn{
    margin-right: 50px;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.down-arrow{
    background-color: transparent;
    border: none;
}

#blog{
    background-color: transparent;
    border: none;
}

.main{
    height: 100vh;
    background: rgba(0, 0, 0, 0.889) url(./images/img-1.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.btns{
    margin-top: 25px;
}
button{
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
}

#contact_us_btn{
    background-color: rgb(208, 208, 27);
}
.header_line{
    width: 40%;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second_main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_with_text{
    display: flex;
    justify-content: space-around;


}

h4{
    color: white;
    margin-top: 9px;
}

.leftside{
    width: 25%;
    margin-right: 50px;
}

.leftside h1 {
    color: black;
}

.leftside p{
    color: black;
}

.icon_with_text h4{
    color: black;
}

.icon_with_text img{
    column-fill: auto;
}

.services{
    background:rgba(0, 0, 0, 0.889) url(./images/img-2.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
   
}

.ways{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.servicebox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.header_text{
    margin-bottom: 50px;
}

h3{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.orderservice_btn{
    background-color: rgb(208, 208, 27);
}

.good_design{
    width: 100%;
    height: 900px;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.text{
    width: 100%;
    height: 15%;
    background-color: red;
}

.text h2{
    color: white;
}

.text p{
    color: white;
}

.gallary{
    width: 100%;
    height:85% ;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.achivements{
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.889) url(./images/img-4.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.achivment_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing_plans{
    width: 100%;
    height: 100vh;
}

.textforpricing{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textforpricing h1{
    color: black;
}
.textforpricing h6{
    color: black;
}
.pricing_cards{
    height: 75%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width:200px;
    height: 300px;
    
}

.card h3{
    color: black;
}

.card h6{
    color: black;
}

.card button{
    background-color: yellow;
}
.about_us{
    width: 100%;
    height: 75vh;
    background: rgba(0, 0, 0, 0.889) url(./images/img-3.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_text{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_text h2{
    color: white;
}

.about_text h6{
    color: white;
}

.people{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#user{
    border-radius: 50%;
}

.people_area{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.blog_post{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.blog_post_text_area{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 20px;
}

.blog_post_text_area h2{
    color: black;
}
.blog_post_text_area h6{
    color: black;
}
.cardarea{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.cardforblog h4{
    color: black;
}
.cardforblog p{
    color: black;
}
.cardforblog button{
    background-color: yellow;
}

.cardforblog img{
    width: 100%;
    height: 50%;
    border-radius: 0;
}
.cardforblog{
    width: 20%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: tomato;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: blue;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links .company ul{
    display: flex;
    flex-direction: column;
}

.links .Quick_Links ul{
    display: flex;
    flex-direction: column;
}

.links .social ul{
    display: flex;
    flex-direction: column;
}

.footer_end_text{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: blue;
}