*{
    padding: 0;
    margin: 0;  
    font-family: Arial, Helvetica, sans-serif;
}

html{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    
}

.logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: 50px;
   
}

li{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left:  10px;
    margin-right: 10px;
}

a{
    font-style: normal;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: black;
    padding: 10px;
}

header
{
    background-color: white;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family:cursive;

}

#header{
    font-family: 'Poiret One', cursive;
    
}

#header span{
    font-family: 'Poiret One', cursive;
    font-style: bold;
    color: yellow;
}

.messagebtn{
    background-color: rgb(211, 211, 34);
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    margin-right: 100px;

}
.down-arrow{
    background-color: transparent;
    border: none;
}

#blog{
    background-color: transparent;
    border: none;
}

#text_second span{
    color: yellow;
    background-color: black;
    padding: 5px;
}

.main{
    height: 100vh;
    background: rgba(0, 0, 0, 0.889) url(./images/img-1.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: white;
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin-bottom: 10px;
}


p{
    color: white;
    font-family: 'Caveat', cursive;
    font-family: 'Poiret One', cursive;    text-align: center;
    margin-bottom: 10px;
}

.btns{
    margin-top: 25px;

}
button{
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 10px;
    background: none;
    color: white;
}

#contact_us_btn{
    border-radius: 15px;
    border: none  ;
    background-color: rgb(181, 181, 40);
}

#discover_now{
    border-radius: 20px;
}
.header_line{
    width: 40%;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.second_main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon_with_text{
    display: flex;
    justify-content: space-around;


}

h4{
    color: white;
    margin-top: 9px;
}

.leftside{
    width: 25%;
    margin-right: 50px;
}

.leftside h1 {
    color: black;
}

.leftside p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.icon_with_text h4{
    color: black;
}

.icon_with_text img{
    column-fill: auto;
}

.services{
    background:rgba(0, 0, 0, 0.852) url(./images/img-2.jpg);
    background-blend-mode:darken;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
   
}

.ways{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.servicebox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.servicebox img{
    background-color: rgba(255, 255, 255, 0.148);
    padding: 10px;
    border-radius: 50%;
}

.header_text{
    margin-bottom: 50px;
}

h3{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.orderservice_btn{
    border: none;
    border-radius: 20px;
    background-color: rgb(208, 208, 27);
}

.good_design{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
}

.text{
    width: 100%;
    height: 15%;
    
}

.text h2{
    color: black;
    font-family: 'Poiret One', cursive;
    margin-top: 20px;
    margin-left: 20px;
}

.text h2 span{
    color: yellow;
    font-family: 'Poiret One', cursive;
}

.text h6{
    color: black;
    margin-top: 20px;
    margin-left: 20px;
}

#gallery{
    margin-top: 20px;
}
.gallery_btns{
    margin-top: 20px;
}

#show_btn{
    background-color: black;
    padding: 10px;
}

.gallery_btns a{
    color: rgb(163, 163, 44);
}

.achivements{
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.889) url(./images/img-4.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.achivment_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.achivment_box img{
    background-color: rgba(255, 255, 255, 0.338); 
    border-radius: 50%;
    padding: 20px;
}
#achivment_box3 h3{
    color: yellow;
}
#achivment_box3 h1{
    color: yellow;
}
.pricing_plans{
    width: 100%;
    height: 100vh;
}

.textforpricing{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textforpricing h1{
    color: black;
    font-size: 50px;
}
.textforpricing  span{
    color: yellow;
    font-family: 'Poiret One', cursive;
    
}

.textforpricing h6{
    color: black;
    font-size: 10px;

}
.pricing_cards{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width:200px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.button_in_pricing{
    border: none;
    background-color: rgb(205, 205, 35);
    border-radius: 20px;
    cursor: pointer;
}

.card h3{
    color: black;
}

.card h6{
    color: black;
}
.about_us{
    width: 100%;
    height: 75vh;
    background: rgba(0, 0, 0, 0.889) url(./images/img-3.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_text{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.btnss .next_btn{
    background-color: rgb(167, 167, 36);
    border: none;
}


.about_text h2{
    color: white;
}

.about_text h6{
    color: white;
}

.people{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}

.about_text{
    display: flex;
    flex-direction: row;
}

.people h6{
    color: white;
}

.people p{
    margin-top: 10px;
}

.text_area h2 span{
    color: yellow;
}

#user{
    border-radius: 50%;
}

.people_area{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.blog_post{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.blog_post_text_area{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 110px;
    margin-top: 50px;
}

.blog_post_text_area h2{
    color: black;
    font-size: 50px;
}
#blog{
    color: yellow;
}
.blog_post_text_area h6{
    color: black;
}
.cardarea{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.cardforblog h4{
    color: black;
}
.cardforblog p{
    color: black;
}
.cardforblog button{
    background-color: yellow;
}

.cardforblog img{
    width: 100%;
    height: 50%;
    border-radius: 0;
}

.blog_post_text_area{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 110px;
    margin-top: 50px;
}

.blog_post_text_area h2{
    color: black;
    font-size: 50px;
}
#blog{
    color: yellow;
}
.blog_post_text_area h6{
    color: black;
}
.cardarea{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.cardforblog h4{
    color: black;
}
.cardforblog p{
    color: black;
}
.cardforblog button{
    background-color: yellow;
}

.cardforblog img{
    width: 100%;
    height: 50%;
    border-radius: 0;
}
.cardforblog{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width:200px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 10px;
}
.cardforblog h4{
    text-align: center;
}
.cardforblog button{
    background-color: white;
    color: black;
    border:2px solid black ;
}
.cardforblog #middle{
    border: none;
    background-color: yellow;   
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    background-color: #2E2252;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links .company ul{
    display: flex;
    flex-direction: column;
}
.links .company h2{
    color: white;
    margin-bottom: 10px;
}
.links .Quick_Links h2{
    color: white;
    margin-bottom: 10px;
}
.links .social h2{
    color: white;
    margin-bottom: 10px;
}
.links .company ul li a{
    display: flex;
    flex-direction: column;
    color: white;
}

.links .Quick_Links ul{
    display: flex;
    flex-direction: column;
}

.links .social ul{
    display: flex;
    flex-direction: column;
}

.links .social ul li a{
    color: white;
}


.links .Quick_Links ul li a{
    color: white;
}

.footer_end_text{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: #2E2252;
    color: white;
}

button{
    cursor: pointer;
}

.search_bar h2{
    margin-bottom: 10px;
    color: white;
}

.search_bar a{

    background-color: yellow;
    padding: 10px;
    border-radius: 20px;
    margin-left: 0;
}

.email{
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
}